@model List<dt191g_moment2_MVC.Models.GamesModel>;

@{
    ViewData["Title"] = "Speltips";
    int index = 0;
        
    if (Model != null)
    {
        index = new Random().Next(Model.Count());
    }
    var game = Model[index];
}

<h2>Speltips!</h2>
<div class="info">
    <p>Ingen spelfantasi? Spela @game.title !</p>
    <p>@game.title är ett roligt spel i genren @game.type.ToLower(). Det kostar endast @game.price kr dessutom.</p>
</div>

<div class="flex game-tip-container">
    <div class="game-info">
        <h3>Spelinfo</h3>
        <div>
            <p><b>Titel: </b> @game.title</p>
            <p><b>Genre: </b>@game.type</p>
            <p><b>Pris: </b>@game.price kr</p>
        </div>
    </div>

    @Html.Partial("_Mascot")
</div>