@model List<dt191g_moment2_MVC.Models.GamesModel>;

@{
    ViewData["Title"] = "Speltips";
    int index = 0;
        
    if (Model != null)
    {
        index = new Random().Next(Model.Count());
    }
    var game = Model[index];
}

<h1>Speltips!</h1>
<div>Ingen spelfantasi? Spela @game.title !</div>
<p>@game.title är ett roligt spel i genren @game.type.ToLower(). Det kostar endast @game.price kr dessutom.</p>

@* @foreach (var item in Model) *@
@* { *@
@*     <div>@item.title</div> *@
@* } *@

<h2>Spelinfo</h2>
<div>
    <p><b>Titel: </b> @game.title</p>
    <p><b>Genre: </b>@game.type</p>
    <p><b>Pris: </b>@game.price kr</p>
</div>

@Html.Partial("_Fruit")